body {
  margin: auto;
  width: 100%;
  display: flex;
  font-family: "Oswald", sans-serif;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  color: black;
  height: 2px;
  background-color: #ffe8d6;
}

#nav {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  box-shadow: 5px 0px 10px 1px rgba(0,0,0,0.3);
  z-index: 1;
}

#navinfo {
  width: 100%;
  height: 40vh;
  border-bottom: black solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#info-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
  background-image: url('Images/Cara-Cortado.png');
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
}

#info-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Oswald", sans-serif;
}

#name {
  font-size: 3rem;
}

#function {
  font-size: 1.5rem;
}

.navbutton {
  position: relative;
  width: 100%;
  height: 10vh;
  border-bottom: black solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s;
}

.navbutton:hover {
  background-color: #f9f6f7;
  /* background-image: url("https://www.transparenttextures.com/patterns/first-aid-kit.png"); */
}

.button-icon {
  height: 80%;
}

.button-ico {
  width: 20%;
  height: 80%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-line {
  position: absolute;
  left: 0%;
  bottom: -100%;
  height: 100%;
  width: 5px;
  background-color: #ff971d;
  transition: 0.2s all;
}

.navbutton:hover .nav-line {
  bottom: 0%;
}

#About-icon {
  background-image: url("Images/About-me.png");
}

#Professional-icon {
  background-image: url("Images/Professional.png");
}

#Education-icon {
  background-image: url("Images/Education.png");
}

#Skills-icon {
  background-image: url("Images/Skills.png");
}

#Projects-icon {
  background-image: url("Images/Projects.png");
}

#Contact-icon {
  background-image: url("Images/Contact.png");
}

.button-text {
  font-family: "Oswald", sans-serif;
}

#screen {
  position: absolute;
  width: 80%;
  left: 20%;
  background-color: #f9f6f7;
  background-image: url("https://www.transparenttextures.com/patterns/first-aid-kit.png");
}

#home-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

#home-title {
  font-size: 20rem;
}

#home-subtitle {
  font-size: 7rem;
}

#about-section {
  width: 100%;
}

.section-title {
  width: 100%;
  height: 5rem;
  background-color: #ff971d;
}

.separator-text {
  font-size: 3rem;
  height: 100%;
  margin-left: 5%;
  color: #f9f6f7;
}

#professional-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#professional-content {
  width: 85%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#professional-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
  background-color: white;
  margin-bottom: 20px;
  overflow: hidden;
}

.job-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 3rem;
}

.job-image {
  width: 200px;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.job-name {
  font-size: 2rem;
  color: #7e776f;
}

.job-function {
  font-size: 1.5rem;
}

.job-place {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  background-color: #f9f6f7;
  margin: 0 auto;
}

.job-time {
  margin-left: 1rem;
}

.job-separator {
  height: 2rem;
  width: 3px;
  margin-right: 1rem;
  margin-left: 1rem;
  background-color: #ffe8d6;
}

#Exide-Image {
  background-image: url("Images/Exide.png");
}

#Tecnotronica-Image {
  background-image: url('Images/Tecnotronica.png');
}

#CBI-Image {
  background-image: url('Images/ChassisBrakes.png');
}

#education-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#education-content {
  width: 85%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5%;
}

.education-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
  background-color: white;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 10px;
}

.education-school {
  font-size: 2rem;
  color: #ff971d;
  text-decoration: none;
  transition: .2s all;
}

.education-school:hover {
  border-bottom: 3px solid #ff971d;
}

.education-title {
  width: 100%;
  color: #ffe8d6
}


#skills-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skills-content {
  width: 85%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
  background-color: white;
  margin-bottom: 20px;
  overflow: hidden;
}

.skill-it {
  font-size: 2rem;
  margin-left: 1rem;
}

.skills {
  display: grid;
  grid-gap: 2rem;
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr);
}

.it-skill {
  width: 100px;
  height: 200px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.skill-image {
  width: 100%;
  height: 80vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#HTML-logo {
  background-image: url("Images/HTML.png");
}

#CSS-logo {
  background-image: url("Images/CSS.png");
}

#Javascript-logo {
  background-image: url("Images/Javascript.png");
}

#Jquery-logo {
  background-image: url("Images/JQuery.png");
}

#Bootstrap-logo {
  background-image: url("Images/Bootstrap.png");
}

#SASS-logo {
  background-image: url("Images/SASS.png");
}

#Mocha-logo {
  background-image: url("Images/Mocha.png");
}

#Github-logo {
  background-image: url("Images/Github.png");
}

#photoshop-logo {
  background-image: url('Images/photoshop.png');
}

#excel-logo {
  background-image: url('Images/excel.png');
}

#word-logo {
  background-image: url('Images/word.png');
}

#powerpoint-logo {
  background-image: url('Images/powerpoint.png');
}

#project-logo {
  background-image: url('Images/Project.png');
}

#Mail-logo {
  background-image: url('Images/Mail.png');
}

#Linkedin-logo {
  background-image: url('Images/Linkedin.png');
}

.skill-name {
  font-size: 1.5rem;
}

#projects-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects-content {
  width: 85%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5%;
}

.projects-card {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 1px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
  background-color: white;
  margin-bottom: 20px;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 60%;
  background-position: center;
  background-size: cover;
}

#swiz-logo {
  background-image: url('Images/swiz-logo.jpg');
}

#christmas-memory-logo {
  background-image: url('Images/Christmas-Game.png');
}

#pokedex-logo {
  background-image: url('Images/Pokedex.jpg');
}

.project-title {
  font-size: 1.5rem;
  margin: 5px 0 5px 5px;
}

.project-description {
  margin-left: 5px;
}

.project-up {
  align-self: center;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px;
  transform: rotate(-90deg);
}

.under-development {
  position: absolute;
  font-size: 3.5rem;
  transform-origin: center;
  transform: rotate(-45deg);
  text-align: center;
  top: 10%;
}


#contacts-content {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.contact-image {
  height: 90%;
  width: 10%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
}

.contact-text {
  text-decoration: none;
  color: #ff971d;
  font-size: 1.2rem;
  transition: 0.2s all;
}

.contact-text:hover {
  border-bottom: 3px solid #ff971d;
}

